#body{
    background-color: #d4d3d3;
}

.caja{
    width: 1500px;
    height:100px;
    margin: 0%;
    padding:0px;
    border: 0cap;
   background: hsl(226, 65%, 35%);
   display: flex;
   justify-content:center;
   align-content: space-between;
   flex-wrap: wrap;
   flex-direction: column-reverse;
}
.logo{
    width: 100px;
    height: 130px;
    margin: 0%;
}
.texto{
   font-size: 30px;
}
button{
    width: 200px ;
    height: 70px;
    border-radius: 45px;
    font-size:20px;
    background: hwb(203 25% 23%);
    border: none;
    font-family: sans-serif;
}
.nav{
   background-color:rgb(239, 235, 235);
}

.nav ul{

    list-style: none;
    display: flex;
    justify-content: space-around;
    padding:0px;
    margin: 0px;
    text-align: center;

}
.uno{
    display: block;
    width: 60px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin: 10px;
    padding: 25px;
    text-decoration: none;
    color:rgb(4, 4, 4);
    background-color: hwb(203 25% 23%);

}

.dos{
    display: block;
    width: 60px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin: 10px;
    padding: 25px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color:hwb(203 25% 23%);
    text-align: center;
}

.tres {
    display: block;
    width: 65px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin: 10px;;
    padding: 25px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color: hwb(203 25% 23%);
}

.cuatro{
    display: block;
    width: 80px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin: 10px;
    padding: 25px ;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color:hwb(203 25% 23%) ;
    text-align: center;
}

.cinco{
    display: block;
    width: 70px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin:10px;
    padding: 15px 30px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color: hwb(203 25% 23%);
    text-align: center;
}

section{
    background: rgb(239, 235, 235);
    padding: 0px;
    width: 1500px;
}
p{
    font-size: 20px;
}
.servicio{
   text-align: center;
}
.hola{
display: flex;
justify-content: center;
}
.es{
    background:hsl(226, 65%, 35%);
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-family: sans-serif;
    text-align:center;
    margin: 20px;
    padding:20px;
    display: flex;
   align-items: center;
   justify-content: center;
}
.os{
    background:hsl(226, 65%, 35%);
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-family: sans-serif;
    text-align:center;
    margin: 20px;
    padding:20px;
    display: flex;
   align-items: center;
   justify-content: center
}
.is{
    background:hsl(226, 65%, 35%);
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-family: sans-serif;
    text-align:center;
    margin: 20px;
    padding:20px;
    display: flex;
   align-items: center;
   justify-content: center
}

.in{
    
    font-size: 20px;
    background: hwb(203 25% 23%);
    width: 270px;
    height: 200px;
    border-radius: 30px;
}

.on{
    font-size: 20px;
    background: hwb(203 25% 23%);
    width: 280px;
    height: 200px;
    border-radius: 30px;
} 
.en{
    font-size: 20px;
    background:hwb(203 25% 23%);
    width: 260px;
    height: 200px;
    border-radius: 30px; 
}
.contenedortres{
  display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    background-color: #d4d3d3;
    padding:20px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1460px;
    
}
.contacto{
  margin:0px;
}
.dibujos{
    padding: 20px;
}
.F{
    padding: 10px;
    border-radius: 20px;
}
.W{
    padding: 10px;
    border-radius: 20px;
}
.I{
    padding: 10px;
    border-radius: 10px;
}
.correo{
    text-align: center;
}